REACT_APP_CANDY_MACHINE_ID=8oNR4coq7AsNaZYzrqMjWewrsm4BqMAcievkz9BoiHAQ
REACT_APP_SOLANA_NETWORK=mainnet-beta
REACT_APP_SOLANA_RPC_HOST=https://ssc-dao.genesysgo.net/


# ADDITIONAL PARAMS TO SET IF USING SPL-TOKEN AS MINTING CURRENCY ONLY :
# Spl-Token symbol to display next the price
REACT_APP_SPL_TOKEN_TO_MINT_NAME=$GNANA

# Spl-token decimals place defined on creation (default is 9)
REACT_APP_SPL_TOKEN_TO_MINT_DECIMALS=0

# To avoid harmless compilation warnings generating a build error, keep CI set to false
CI=false