/* Customize your main colors in :root variables */
:root {
  --main-background-color: #fafafa;
  --card-background-color: #51576d;
  --card-background-lighter-color: #7a7f92;
  --main-text-color: #000000;
  --nav-bar-color: #cfcfcf;
  /* --title-text-color: #3cba8b; */
}

body {
  background-color: var(--main-background-color);
  /*background: url('img/background.png');
  background-size: cover; */

  margin: 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace, "";
}

a {
  text-decoration: none;
}

h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}
.navbar{
  background-color: var(--nav-bar-color);
}
/* Candy Shop styling overrides */
.css-1wewypr {
  color: black;
}

.css-1ago99h {
  color: black;
}

footer {
  margin-top: auto;
}
.footer-icon {
  width: 1rem;
  height: 1rem;
}
.share-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.flink-icon {
  color: dark;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer-icon {
    margin-top: 1rem;
  }
}
@media (min-width: 992px) {
  .footer-icon {
    margin-top: 1rem;
  }
}
.footer-text {
  text-align: left;
  size: 18px;
  color: white;
  margin-top: 25px;
}
.footer-logo {
  float: left;
  padding: 0 20px 20px 0;
  height: 155px;
}
.list {
  list-style: none;
  display: inline-block;
  text-align: left;
}
.link {
  text-align: center;
}
.footer-text-2 {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
@media (min-width: 310px) {
  .footer-text-2 {
    text-align: center;
  }
}
@media (min-width: 576px) {
  .footer-text-2 {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer-text-2 {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .footer-text-2 {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .footer-text-2 {
    padding-left: 15px;
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .footer-text-2 {
    padding-left: 15px;
    text-align: left;
  }
}
.exchange-button-more {
  background: linear-gradient(44.73deg, #7c7c7c 11.32%, #4e4e4e 92.96%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 185px;
  height: 50px;
  font-style: normal;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 30px !important;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #d7d7d8 !important;
}

.exchange-button-more:hover {
  color: #ffffff;
}
.exchange-button-more2 {
  background: linear-gradient(44.73deg, #7c7c7c 11.32%, #4e4e4e 92.96%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 185px;
  height: 50px;
  font-style: normal;
  font-weight: bold !important;
  font-size: 14px !important;
  line-height: 30px !important;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #d7d7d8 !important;
}

.exchange-button-more2:hover {
  color: #ffffff;
}
.details {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
}
.button-container {
  width: 50%;
}
.contact-send-button {
  background: linear-gradient(44.73deg, #7c7c7c 11.32%, #4e4e4e 92.96%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 100px;
  height: 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  margin-top: 10px;
  color: #d7d7d8;
}
@media (min-width: 310px) {
  .text-container {
    width: 100%;
  }
  .contact-send-button {
    float: none;
  }
}
@media (min-width: 768px) {
  .text-container {
    width: 49%;
  }
  .contact-send-button {
    float: right;
  }
}
.showcase1 .container .d-sm-flex {
  flex-direction: column !important;
}
.people-title {
  font-family: Rajdhani;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
}
.q-tokenomics-showcase-intro-lead {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #5a5a5a;
}
.q-tokenomics-showcase-intro-lead {
  font-size: 1em;
  line-height: 1.25em;
}
.card-borders {
  border: 0 !important;
  background: #fff !important;
}

.card-borders :hover {
  border: 0 !important;
  background: #fff !important;
}
.imgcon {
  background-color: #ffffff;
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.imgNFT {
  height: auto;
  width: 170px;
}
.cubeName {
  width: 93%;
  /* height: 20px; */
  background-color: #ffffff;
  align-items: center;
  /* padding-bottom: 2rem */
}
.name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.1rem;
  color: #28282d;

  background-color: #ffffff;
  font-style: normal;
  text-align: left;
}
.desname {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #5e5e63;
  background-color: #ffffff;
  width: 100%;
  font-weight: 600;
  text-align: left;
}
.modal-body {
  margin: auto;
}
.href {
  color: #000000;
}
.href:hover {
  color: #000000;
}
.ahref {
  color: #d7d7d8;
}
.ahref:hover {
  color: #fff;
}
.modal {
  display: block !important;
}
body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  border-radius: 3px;
  max-width: 800px;
  min-width: 400px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-title h4 {
  font-size: 1.5rem;
}
.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}
.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}
.modal-body {
  margin: auto;
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.solLogo {
  float: left;
  height: 30px;
  margin-right: 0.5rem;
}
.solLogoPrice {
  float: left;
  height: 20px;
  margin-right: 0.5rem;
}
.solLogoFloorPrice {
  height: 30px;
  margin-right: 0.5rem;
}
.border-none {
  border: none;
}
.system-title {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 5rem;

  background: linear-gradient(180deg, #cbcbcb 0%, rgba(154, 154, 154, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bgTitle {
  background-image: url("../src/blockchain-technology-background-gradient-blue\ 1.svg");
  height: 120px !important;
}
.bgTitle2 {
  background-image: url("../src/Mask\ group.svg");
  height: 120px !important;
}
.bgTitle3 {
  background-image: url("../src/Mask\ group\ 2.svg");
  height: 120px !important;
}
.bgTitle4 {
  background-image: url("../src/Mask\ group\ 3.svg");
  height: 120px !important;
}
.bgTitle5 {
  background-image: url("../src/Mask\ group\ 4.svg");
  height: 120px !important;
}
.concepts-title {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
  line-height: 5rem;
  z-index: 10;
  /* identical to box height */

  background: linear-gradient(180deg, #cbcbcb 0%, rgba(154, 154, 154, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: absolute;
  top: 21%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.concepts-title2 {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 300;
  font-size: 3rem;
  line-height: 5rem;
  z-index: 10;
  /* identical to box height */

  background: linear-gradient(180deg, #cbcbcb 0%, rgba(154, 154, 154, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: absolute;
  top: 21%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card {
  position: relative;
  display: flex;
  flex-direction: row !important;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  justify-content: space-around;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}
.cards {
  /* border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem; */
  justify-content: space-around;
  height: 21rem;
}
.cards2 {
  /* border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem; */
  justify-content: space-around;
  height: 21rem;
}
.active {
  font-weight: bolder;
}
.on {
  font-weight: bolder;
}
.carbon-content-header {
  text-align: left;
  margin-top: 20px;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}
.carbon-content-message {
  text-align: left;
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #5a5a5a;
}
.carbon-content-frame {
  top: 15px;
  position: relative;
}
.carbon-benefits-container {
  background-color: #e0e0e0;
}
.carbon-benefits-content {
  color: #5a5a5a;
  font-weight: bold;
  padding-top: 20px;
  text-align: left;
}

.carbon-benefits-content-head {
  color: #5a5a5a;
  font-weight: bold;
  text-align: left;
  font-size: 1.25em;
}

.carbon-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #5a5a5a;
  text-align: left;
}

.carbon-text-blog {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #5a5a5a;
  text-align: left;
}
.shareButton {
  display: flex;
  justify-content: flex-end;
}

.if-container,
iframe {
  width: "640px";
  margin: 0 auto;
}
@media (min-width: 310px) {
  .if-container,
  iframe {
    width: "300px";
  }
}
@media (min-width: 360px) {
  .if-container,
  iframe {
    width: "320px";
  }
}
@media (min-width: 420px) {
  .if-container,
  iframe {
    width: "400px";
  }
}
@media (min-width: 576px) {
  .if-container,
  iframe {
    width: "550px";
  }
}
@media (min-width: 768px) {
  .if-container,
  iframe {
    width: "640px";
  }
}

iframe {
  display: block;
  border-style: none;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.mobileNav {
  display: none;
  list-style: none;
  flex: 1 0 auto;
  margin-bottom: 0;
}
.mobileNav li {
  margin: 0 12px;
}
.mobileNav a {
  color: #fff;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  text-size-adjust: 100%;
  touch-action: manipulation;
  transition: color 0.3s;
  padding-bottom: 15px;
}
.mobileNav img {
  max-height: 26px;
}
.mobileNav a:hover,
a:active {
  color: rgb(131, 146, 161);
  border-bottom: 4px solid var(--title-text-color);
}

.Menu {
  list-style: none;
  display: inline-flex;
  flex: 1 0 auto;
  margin-bottom: 0;
  justify-content: space-around;
}
.Menu li {
  margin: 0 12px;
}
.Menu a {
  color: var(--main-text-color);
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  text-size-adjust: 100%;
  touch-action: manipulation;
  transition: color 0.3s;
  padding-bottom: 15px;
}
.Menu img {
  max-height: 26px;
}
.Menu a:hover,
a:active {
  color: rgb(131, 146, 161);
  border-bottom: 4px solid var(--title-text-color);
}
.hamburger {
  display: none;
}

@media (max-width: 990px) {
  .Menu {
    display: none;
    opacity: 1;
  }
  .mobileNav {
    display: flex;
    position: absolute;
    top: 106px;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: #686868;
    color: #fff;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 8px;
    opacity: 0.9;
  }
  .expandable:mobilenav {
    height: auto;
  }
  .mobileNav li {
    padding: 0.5rem;
  }
  .HeaderBar {
    opacity: 1;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 0%;
    cursor: pointer;
  }
}

.conwid-50 {
  width: 50%;
}
.conwid-25 {
  width: 25%;
}
.content {
  display: flex;
}
.cards-content {
  display: flex;
}
.wallet-width {
  width: 185px;
  justify-content: space-evenly !important;
}

@media (min-width: 250px) {
  .conwid-50 {
    width: auto;
  }
  .conwid-25 {
    width: auto;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .cards-content {
    display: flex;
    flex-direction: column;
  }
  .cards {
    height: 55rem;
  }
  .cards2 {
    height: 66rem;
  }
  .card {
    height: 22rem;
  }
  .wallet-width {
    width: 155px;
  }
}

@media (min-width: 576px) {
  /* .conwid-50{
    width: 50%;
  }
  .conwid-25{
    width: 25%;
  }
  .content{
    display: flex;
  } */
}
@media (min-width: 768px) {
  .conwid-50 {
    width: 70%;
  }
  .conwid-25 {
    width: 25%;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .cards-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .cards {
    height: 22rem;
  }
  .cards2 {
    height: 22rem;
  }
  .card {
    height: auto;
  }
  .wallet-width {
    width: 185px;
  }
}
.shareText {
  font-weight: 600;
  font-size: 1rem;
  color: #757575;
  margin: 0;
  margin-right: 1rem;
  text-align: left;
}

main {
  min-height: calc(100vh - 211px - 58px);
}
.name-container {
  height: 62px;
}
.list-group-item {
  background-color: var(--main-background-color);
}
.candy-card-border {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.candy-modal-content {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.full-bg {
  background: url("../src/Alt-Homeqube-logo-standard@2x.png"), #2f2f2f;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat, no-repeat;
}

.input_text {
  position: fixed;
  bottom: 50px;
  left: 29px;
}

.password-control {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.3em;
  background-color: #545459 !important;
  border: none !important;
  width: 200px;
  color: #f1f1f8;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.btn-sub {
  background-color: #545459 !important;
  border-radius: 0em !important;
}

.btn-sub i {
  color: #f1f1f8 !important;
}

input[type="password"] {
  background-color: #545459 !important;
  border: none !important;
  color: #f1f1f8 !important;
}

input[type="password"]:focus {
  outline: none !important;
}

input:not(:disabled) {
  outline: none !important;
}
#text-error {
  color: rgb(245, 72, 72);
}

.nav-spacing {
  margin-top: 20px;
  margin-right: 2%;
  margin-left: 2%;
}

.card-container {
  width: 430px;
  height: 400px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}
.img-container {
  width: 430px;
  height: auto;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}
.upper-container {
  height: 130px;
}
.upper-container-2 {
  height: 130px;
  background-color: #9b9b9b;
}
.cards-banner {
  transform: translateY(-6px);
  width: 101%;
  height: 150px;
}
.image-container {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(170px, 100px);
}
.image-container-2 {
  background: white;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
}
.image-container-2 img {
  width: 71px;
  height: 70px;
  border-radius: 50%;
}
.image-container img {
  width: 71px;
  height: 70px;
  border-radius: 50%;
}
.lower-container {
  height: 280px;
  background: #fff;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
}
.lower-container h3,
h4 {
  box-sizing: border-box;
  line-height: 1;
  font-weight: lighter;
}
.lower-container h4 {
  color: #545459;
  opacity: 0.6;
  font-weight: bold;
}
.lower-container p {
  font-size: 16px;
  color: gray;
  margin-bottom: 30px;
}
.lower-container .btn {
  padding: 12px 20px;
  background: #7f00ff;
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
.lower-container .btn:hover {
  background: transparent;
  color: #7f00ff;
  border: 2px solid #7f00ff;
}

.SL-Des {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.display2 {
  display: flex;
  flex-direction: row;
}

@media (min-width: 250px) {
  .display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-container {
    width: 310px;
  }
  .image-container {
    transform: translate(120px, 71px);
  }
  .display2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .image-container-2 {
    transform: translate(120px, 71px);
  }
}

@media (min-width: 768px) {
  .display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-container {
    width: 310px;
  }
  .image-container {
    transform: translate(120px, -65px);
  }
  .image-container-2 {
    transform: translate(120px, 71px);
  }
  .display2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (min-width: 1230px) {
  .display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75rem;
  }
  .card-container {
    width: 350px;
  }
  .image-container {
    transform: translate(135px, -65px);
  }
  .image-container-2 {
    transform: translate(135px, 71px);
  }
  .display2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0.75rem;
  }
}

@media (min-width: 1430px) {
  .display {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.75rem;
  }
  .card-container {
    width: 420px;
  }
  .image-container {
    transform: translate(170px, -65px);
  }
  .image-container-2 {
    transform: translate(170px, 71px);
  }
  .display2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0.75rem;
  }
}

.header-site-design {
  width: 100%;
  border-radius: 5px;
}

.cover-image-div {
  position: relative;
  width: 100%;
  height: 370px;
  box-sizing: border-box;
  background-color: #3337;
}
.cover-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-in-site {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: 0;
}
.profile-image-site {
  position: relative;
  background-color: #ffffff;
  margin-bottom: -20px;
  width: 160px;
  height: 170px;
  background-color: #333;
  border: 4px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 5px #3335;
  margin-left: 10rem;
}
.profile-image-site img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image-site h1 {
  position: absolute;
  content: "";
  left: 40%;
  top: 70%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 35px;
  width: 300%;
}
.profile-image-site h1 > span {
  font-weight: 400;
}
.homepage {
  margin-right: 4%;
  margin-left: 4%;
}

@media (min-width: 250px) {
  .cover-image-div {
    height: 250px;
  }
  .profile-image-site h1 {
    font-size: 1.5rem;
    left: 106%;
    width: 0%;
    top: 47%;
  }
  .cover-image-div img {
    width: 101%;
    height: 101%;
    object-fit: fill;
  }
  .profile-image-site {
    margin-left: 1rem;
    width: 130px;
    height: 130px;
  }
}

@media (min-width: 768px) {
  .cover-image-div {
    height: 370px;
  }
  .profile-image-site h1 {
    font-size: 35px;
    width: 100%;
    top: 70%;
  }
  .profile-image-site {
    margin-left: 10rem;
    width: 160px;
    height: 170px;
  }
  .cover-image-div img {
    width: 101%;
    height: 101%;
    object-fit: cover;
  }
  .profile-name-2 {
    width: 500px !important;
  }
}

@media (min-width: 1230px) {
  .cover-image-div {
    height: 370px;
  }
  .profile-image-site h1 {
    font-size: 35px;
  }
  .profile-image-site {
    margin-left: 10rem;
  }
}

.plus-sign {
  display: none;
}
.accordion-item {

  border: none;
}
.item-description {
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
}
.showcase-intro {
  font-style: normal;
  /* font-weight: bold; */
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 150px;
}
.showcase-intro-contact {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;
  color: #000000;
}
.showcase-intro-lead {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #5a5a5a;
}
.showcase-intro-lead-carbon {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #5a5a5a;
  text-align: left;
}
.showcase-intro-2 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #5a5a5a;
  padding-left: 140px;
  padding-top: 200px;
  padding-bottom: 100px;
}
.container-content-carbon{
  text-align: left;
  height: 100vh;
}
.container-bg {
  background-image: url("../src/BG\ 1.svg");
  background-repeat: no-repeat;
  padding-left: 1em;
  padding-right: 1em;
}
.intro {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: left;
}
.intro-sentence {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #fff;
}
.intro-btn2 {
  display: flex;
  column-gap: 10px;
  justify-content: first baseline;
}
.button2 {
  background: #2f2f2f;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 130px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #d7d7d8;
}
.button2:hover {
  color: #ffffff;
}
.button1 {
  background: linear-gradient(44.73deg, #7c7c7c 11.32%, #4e4e4e 92.96%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  width: 130px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #d7d7d8;
}
.button1:hover {
  color: #ffffff;
}
.a-link {
  color: rgb(215, 215, 216) !important;
  text-decoration: none;
}
.a-link:hover {
  color: rgb(215, 215, 216);
}
.showcase {
  background-color: #2f2f2f;
}
.showcase-1{
  background-color: #ffffff !important;
}
.container-content {
  display: flex;
}
.contaner-contact {
  width: 100%;
}
.yt-vid {
  width: 560px;
  height: 315px;
  background-color: #000000;
}
@media (min-width: 310px) {
  .yt-vid {
    width: 100%;
    height: auto;
    margin-top: 1em;
  }
  .container-content {
    flex-direction: column;
  }
}
@media (min-width: 390px) {
  .yt-vid {
    width: 100%;
    height: auto;
    margin-top: 1em;
  }
  .container-content {
    flex-direction: column;
  }
}
@media (min-width: 471px) {
  .yt-vid {
    width: 100%;
    height: auto;
    margin-top: 1em;
  }
  .container-content {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .yt-vid {
    width: 500px;
    height: 300px;
  }
  .container-content {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .yt-vid {
    width: 560px;
    height: 315px;
    margin-top: 5em;
  }
  .container-content {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .yt-vid {
    width: 560px;
    height: 315px;
    margin-top: 0;
  }
  .container-content {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .yt-vid {
    width: 560px;
    height: 315px;
    margin-top: 0;
  }
  .container-content {
    flex-direction: row;
  }
}
.content-eco1-bg {
  background-color: #fff;
}
.eco-1-title {
  font-style: normal;
  font-weight: bold;
  font-size: 3px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.img-poweredcon {
  margin: auto !important;
  padding: 0;
  width: 85% !important;
}
.link {
  text-align: center;
}
.content-info {
  display: flex;
}
@media (max-width: 310px) {
  .content-info {
    display: flex;
    flex-wrap: wrap;
  }
  .intro-sentence-homeapp {
    margin-top: 1rem;
  }
  .modal-header {
    margin: auto !important;
  }
}
@media (max-width: 576px) {
  .content-info {
    display: flex;
    flex-wrap: wrap;
  }
  .intro-sentence-homeapp {
    margin-top: 1rem;
  }
  .modal-header {
    margin: auto !important;
  }
}
@media (max-width: 768px) {
  .content-info {
    display: flex;
    flex-wrap: wrap;
  }
  .modal-header {
    margin: auto !important;
  }
}
@media (min-width: 310px) {
  .intro-sentence-homeapp {
    margin-top: 1rem;
  }
  .ai-content {
    display: flex !important;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .intro-sentence-homeapp {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .ai-content {
    display: flex !important;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .intro-sentence-homeapp {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .ai-content {
    display: flex !important;
    align-items: center;
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .intro-sentence-homeapp {
    margin-left: 1rem;
  }
  .ai-content {
    align-items: center;
    flex-direction: row;
    display: flex !important;
  }
}
@media (min-width: 1200px) {
  .intro-sentence-homeapp {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}
.box-animation-1 {
  position: absolute;
  float: left;
  width: 249.14px;
  height: 263.72px;
  z-index: 10;
}
.box-animation-2 {
  position: absolute;
  float: left;
  width: 59.8px;
  height: 63.37px;
  z-index: 10;
  margin-left: 317px;
  animation: box-animation-2 5s infinite;
}
@keyframes box-animation-2 {
  from {
    transform: rotate(-0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.box-animation-3 {
  position: absolute;
  float: left;
  width: 99.9px;
  height: 105.69px;
  z-index: 10;
  margin-top: 130px;
  margin-left: 290px;
  animation: box-animation-3 5s infinite;
}
@keyframes box-animation-3 {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 310px) {
  .box-animation-1 {
    width: 5.5em;
    height: 6.5em;
    display: none;
  }
  .box-animation-2 {
    width: 35.8px;
    height: 38.37px;
    margin-left: 16em;
    display: none;
  }
  .box-animation-3 {
    width: 69.9px;
    height: 70.69px;
    margin-top: 120px;
    margin-left: 14em;
    display: none;
  }
}
@media (min-width: 360px) {
  .box-animation-1 {
    width: 5.5em;
    height: 6.5em;
  }
  .box-animation-2 {
    width: 35.8px;
    height: 38.37px;
    margin-left: 18em;
  }
  .box-animation-3 {
    width: 69.9px;
    height: 70.69px;
    margin-top: 120px;
    margin-left: 17em;
  }
}
@media (min-width: 576px) {
  .box-animation-1 {
    width: 125.14px;
    height: 125.72px;
  }
  .box-animation-2 {
    width: 35.8px;
    height: 38.37px;
    margin-left: 14em;
  }
  .box-animation-3 {
    width: 69.9px;
    height: 70.69px;
    margin-top: 120px;
    margin-left: 13em;
  }
}
@media (min-width: 768px) {
  .box-animation-1 {
    width: 175.14px;
    height: 175.72px;
    display: block;
  }
  .box-animation-2 {
    width: 35.8px;
    height: 38.37px;
    display: block;
  }
  .box-animation-3 {
    width: 69.9px;
    height: 70.69px;
    display: block;
  }
}
@media (min-width: 992px) {
  .box-animation-1 {
    width: 190.14px;
    height: 190.72px;
  }
  .box-animation-2 {
    width: 45.8px;
    height: 48.37px;
  }
  .box-animation-3 {
    width: 84.9px;
    height: 85.69px;
  }
}
@media (min-width: 1200px) {
  .box-animation-1 {
    width: 249.14px;
    height: 245.72px;
  }
  .box-animation-2 {
    width: 59.8px;
    height: 63.37px;
    margin-left: 317px;
  }
  .box-animation-3 {
    width: 99.9px;
    height: 105.69px;
    margin-top: 130px;
    margin-left: 290px;
  }
}
.right-box-animation-1 {
  position: absolute;
  float: right;
  width: 135.03px;
  height: 143.1px;
  z-index: 10;
  right: 26%;
}
.right-box-animation-2 {
  position: absolute;
  float: right;
  width: 59.8px;
  height: 63.37px;
  z-index: 10;
  right: 20.5%;
  margin-top: -40px;
  animation: box-animation-2 5s infinite;
}
@keyframes right-box-animation-2 {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.right-box-animation-3 {
  position: absolute;
  float: right;
  width: 99.9px;
  height: 105.69px;
  z-index: 10;
  margin-top: 50px;
  right: 20%;
  animation: box-animation-2 5s infinite;
}
@keyframes right-box-animation-3 {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 310px) {
  .right-box-animation-1 {
    width: 5.5em;
    height: 6.5em;
    right: 14%;
  }
  .right-box-animation-2 {
    width: 35.8px;
    height: 38.37px;
    right: 5.5%;
  }
  .right-box-animation-3 {
    width: 69.9px;
    height: 70.69px;
    right: 5%;
  }
}
@media (min-width: 576px) {
  .right-box-animation-1 {
    width: 100.03px;
    height: 108.1px;
    right: 14%;
  }
  .right-box-animation-2 {
    width: 35.8px;
    height: 38.37px;
    right: 5.5%;
  }
  .right-box-animation-3 {
    width: 69.9px;
    height: 70.69px;
    right: 5%;
  }
}
@media (min-width: 768px) {
  .right-box-animation-1 {
    width: 110.03px;
    height: 118.1px;
  }
  .right-box-animation-2 {
    width: 35.8px;
    height: 38.37px;
  }
  .right-box-animation-3 {
    width: 69.9px;
    height: 70.69px;
  }
}
@media (min-width: 992px) {
  .right-box-animation-1 {
    width: 135.03px;
    height: 143.1px;
  }
  .right-box-animation-2 {
    width: 45.8px;
    height: 48.37px;
  }
  .right-box-animation-3 {
    width: 84.9px;
    height: 85.69px;
  }
}
@media (min-width: 1200px) {
  .right-box-animation-1 {
    width: 135.03px;
    height: 143.1px;
    right: 26%;
  }
  .right-box-animation-2 {
    width: 59.8px;
    height: 63.37px;
    right: 20.5%;
  }
  .right-box-animation-3 {
    width: 99.9px;
    height: 105.69px;
    right: 20%;
  }
}
.left-box-2nd {
  position: absolute;
  float: left;
  width: 249.14px;
  height: 263.72px;
  z-index: 10;
  margin-top: -175px;
  left: 2.7%;
}
.right-box-2nd-animation-1 {
  position: absolute;
  float: right;
  width: 135.03px;
  height: 143.1px;
  z-index: 10;
  right: 16%;
}
.right-box-2nd-animation-2 {
  position: absolute;
  float: right;
  width: 59.8px;
  height: 63.37px;
  z-index: 10;
  right: 10.5%;
  margin-top: -40px;
  animation: box-animation-2 5s infinite;
}
@keyframes right-box-animation-2 {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.right-box-2nd-animation-3 {
  position: absolute;
  float: right;
  width: 99.9px;
  height: 105.69px;
  z-index: 10;
  margin-top: 50px;
  right: 10%;
  animation: box-animation-2 5s infinite;
}
@keyframes right-box-animation-3 {
  from {
    transform: rotate(-0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spacing{
  margin-left: 10rem;
}

@media (min-width: 310px) {
  .left-box-2nd {
    width: 159.14px;
    height: 173.72px;
    margin-top: -124px;
  }
  .right-box-2nd-animation-1 {
    width: 80.03px;
    height: 88.1px;
  }
  .right-box-2nd-animation-2 {
    width: 34.8px;
    height: 38.37px;
  }
  .right-box-2nd-animation-3 {
    width: 69.9px;
    height: 65.69px;
  }
  .spacing{
    margin-left: 8.5rem;
  }
}
@media (min-width: 576px) {
  .left-box-2nd {
    width: 179.14px;
    height: 193.72px;
  }
  .right-box-2nd-animation-1 {
    width: 100.03px;
    height: 108.1px;
  }
  .right-box-2nd-animation-2 {
    width: 39.8px;
    height: 43.37px;
  }
  .right-box-2nd-animation-3 {
    width: 79.9px;
    height: 75.69px;
  }
}
@media (min-width: 768px) {
  .left-box-2nd {
    width: 209.14px;
    height: 223.72px;
  }
  .right-box-2nd-animation-1 {
    width: 120.03px;
    height: 128.1px;
  }
  .right-box-2nd-animation-2 {
    width: 49.8px;
    height: 53.37px;
  }
  .right-box-2nd-animation-3 {
    width: 94.9px;
    height: 90.69px;
  }
  .spacing{
    margin-left: 10rem;
  }  
}
@media (min-width: 992px) {
  .left-box-2nd {
    width: 224.14px;
    height: 238.72px;
  }
  .right-box-2nd-animation-1 {
    width: 120.03px;
    height: 128.1px;
  }
  .right-box-2nd-animation-2 {
    width: 49.8px;
    height: 53.37px;
  }
  .right-box-2nd-animation-3 {
    width: 94.9px;
    height: 90.69px;
  }
}
@media (min-width: 1200px) {
  .left-box-2nd {
    width: 249.14px;
    height: 263.72px;
  }
  .right-box-2nd-animation-1 {
    width: 135.03px;
    height: 143.1px;
  }
  .right-box-2nd-animation-2 {
    width: 59.8px;
    height: 63.37px;
  }
  .right-box-2nd-animation-3 {
    width: 99.9px;
    height: 105.69px;
  }
}
.row-icons{
  margin-top: 8rem!important;
}
.margin-bot{
  margin-bottom: 5rem!important;
}
.blog-link
{
  color: #5a5a5a;
  font-weight: normal;
}

.blog-link:hover {
  color: #5a5a5a;
}
.q-tokenomics-showcase-intro-lead {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #5a5a5a;
}
.q-tokenomics-intro-content {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #5a5a5a;
}
.faq-rectangle {
  height: 4px;
  width: 155px;
  background-color: #c4c4c4;
}
.home-rectangle {
  height: 4px;
  width: 155px;
  background-color: #c4c4c4;
}
.ai-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
}
.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}
@media (min-width: 768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: 0.25rem solid #e0e0e0;
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: 0.3125rem;
  }
  .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: 0.25rem solid #e0e0e0;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: 0.3125rem;
  }
  .timeline-steps .timeline-step:nth-child(2):not(:first-child):before {
    content: "";
    display: block;
    border-top: 0.25rem solid #e0e0e0;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: 0.3125rem;
  }
  .timeline-steps .timeline-step:nth-child(1):not(:last-child):after {
    content: "";
    display: block;
    border-top: 0.25rem solid #e0e0e0;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: 0.3125rem;
  }
  .timeline-steps .timeline-step:nth-child(1):not(:last-child):before {
    content: "";
    display: block;
    border-top: 0.25rem solid #2f2f2f;
    width: 6.46rem;
    position: absolute;
    left: 7.5rem;
    top: 0.3125rem;
  }
}
.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center;
}
.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #2f2f2f;
}
.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #2f2f2f;
  display: inline-block;
  height: 2rem;
  width: 2em;
  min-width: 2rem;
  border-radius: 2rem;
  opacity: 1;
}
.timeline-steps .timeline-step:nth-child(2) .timeline-content .inner-circle,
.timeline-steps .timeline-step:nth-child(3) .timeline-content .inner-circle,
.timeline-steps .timeline-step:nth-child(4) .timeline-content .inner-circle,
.timeline-steps .timeline-step:nth-child(5) .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}
.timeline-steps
  .timeline-step:nth-child(2)
  .timeline-content
  .inner-circle::before,
.timeline-steps
  .timeline-step:nth-child(3)
  .timeline-content
  .inner-circle::before,
.timeline-steps
  .timeline-step:nth-child(4)
  .timeline-content
  .inner-circle::before,
.timeline-steps
  .timeline-step:nth-child(5)
  .timeline-content
  .inner-circle::before {
  content: "";
  background-color: #e0e0e0;
  display: inline-block;
  height: 2rem;
  width: 2em;
  min-width: 2rem;
  border-radius: 2rem;
  opacity: 1;
}
.list-group-item {
  text-align: start;
}

.faq-head {
  padding-top: 20px;
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}
.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  object-fit: cover;
  height: 6vw;
}

.blog-link-underline{
  text-decoration: underline;
}