/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343a50;
  --card-background-color: #51576d;
  --card-background-lighter-color: #7a7f92;
  --main-text-color: #f7f6f4;
  --title-text-color: #3cba8b;
}

body {
  background-color: var(--main-background-color);
  /*background: url('img/background.png');
  background-size: cover; */

  margin: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size:  16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}

/* Candy Shop styling overrides */
.css-1wewypr {
  color: black;
}

.css-1ago99h {
  color: black;
}

/* FILTER */
.candy-dropdown {
  background-color: #16171A;
  color: white;
}
.menu-middle-item {
  background-color: #16171A;
  color: white;
}
.candy-dropdown-label--purple {
  color: white;
}
.candy-dropdown-label--black {
  color: white;
}
.candy-dropdown-icon svg {
  color: white;
}

.candy-dropdown-menu .menu-last-item {
  background-color: #16171A;
  color: white;
}

 /*CANDY MODAL */

.candy-modal-content,
.candy-order-info {
  color: white;
  background-color: #16171A;
}
.candy-modal-close-btn .close:before, .candy-modal-close-btn .close:after,
.candy-modal-close-btn .close:before, .candy-modal-close-btn .close:before {
  background-color: white;
}
.candy-modal-close-btn .close {
  opacity: 1;
}
.candy-order-info {
  border-radius:  0 0 10px 10px;
}
.candy-value a,
.candy-order-name-container .name {
  color: #17EF97;
}
.wallet-adapter-button-trigger {
  background-color: #17EF97;
  color: black;
}
.candy-attribute-container .candy-nft-attribute {
  color: white;
  background-color: #7a7f92;
}
.candy-order-price-container .price {
  color: #deece7;
  font-weight: 900;
  font-size: 14px;
  color: #17EF97;
}

/* TITLE */
.candy-stat-component-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.candy-stat-component-container > * {
  margin: auto;
}
.candy-stat-component-title {
  text-align: center;
}
.candy-stat-component-description {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
}



/* MOBILE BUY */

.candy-buy-modal {
  flex-direction: column;
}
.candy-buy-modal .candy-buy-modal-thumbnail {
  width: 100%;
  height: auto;
}
.candy-buy-modal .candy-buy-modal-container .candy-buy-modal-control {
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}
.candy-title,
.candy-label,
.candy-value {
  text-align: center;
}
.candy-buy-modal .candy-buy-modal-container {
  margin-top: 0;
  margin-bottom: 0;
}
.candy-order-price-container {}

@media screen and (min-width: 800px) {
  .candy-buy-modal {
    flex-direction: row;
    
  }
  .candy-buy-modal .candy-buy-modal-thumbnail {
    width: 350px;
    height: 340px;
  }
  .candy-buy-modal .candy-buy-modal-container .candy-buy-modal-control {
    flex-direction: row;
    text-align: left;
    margin-bottom: 0;
  }
  .candy-title,
  .candy-label,
  .candy-value {
    text-align: left;
  }
  .candy-value {
    margin-top: 20px;
  }
  .candy-buy-modal .candy-buy-modal-container {
    margin-top: -20px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1100px) {

}