/* Customize your main colors in :root variables */
:root {
  --main-background-color: #343a50;
  --card-background-color: #51576d;
  --card-background-lighter-color: #7a7f92;
  --main-text-color: #f7f6f4;
  --title-text-color: #3cba8b;
}

body {
  background-color: var(--main-background-color);
  /*background: url('img/background.png');
  background-size: cover; */

  margin: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size:  16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h2,
p {
  color: var(--main-text-color);
}

h3 {
  font-weight: normal;
}

/* Candy Shop styling overrides */
.css-1wewypr {
  color: black !important;
}

.css-1ago99h {
  color: black !important;
}

/* FILTER */
.candy-dropdown {
  background-color: #16171A !important;
  color: white !important;
}
.menu-middle-item {
  background-color: #16171A !important;
  color: white !important;
}
.candy-dropdown-label--purple {
  color: white !important;
}
.candy-dropdown-label--black {
  color: white !important;
}
.candy-dropdown-icon svg {
  color: white !important;
}

.candy-dropdown-menu .menu-last-item {
  background-color: #16171A !important;
  color: white !important;
}

..candy-order .candy-order-name,
.candy-order .candy-order-price {
  color: white !important;
}

 /*CANDY MODAL */

.candy-modal-content,
.candy-order-info {
  color: white !important;
  background-color: #16171A !important;
}
.candy-modal-close-btn .close:before, .candy-modal-close-btn .close:after,
.candy-modal-close-btn .close:before, .candy-modal-close-btn .close:before {
  background-color: white !important;
}
.candy-modal-close-btn .close {
  opacity: 1 !important;
}
.candy-order-info {
  border-radius:  0 0 10px 10px !important;
}
.candy-value a,
.candy-order-name-container .name {
  color: #17EF97 !important;
}
.wallet-adapter-button-trigger {
  background-color: #17EF97 !important;
  color: black !important;
  margin-top: 1rem !important;
}
.candy-attribute-container .candy-nft-attribute {
  color: white !important;
  background-color: #7a7f92 !important;
}
.candy-order-price-container .price {
  color: #deece7 !important;
  font-weight: 900 !important;
  font-size: 12px !important;
  text-align: left;
  color: #17EF97 !important;
}

/* TITLE */
.candy-stat-component-container {
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.candy-stat-component-container > * {
  margin: auto !important;
}
.candy-stat-component-title {
  text-align: center !important;
}
.candy-stat-component-description {
  text-align: center !important;
  width: 80% !important;
  margin: auto !important;
  margin-bottom: 2rem !important;
}



/* MOBILE BUY */

.candy-buy-modal {
  flex-direction: column !important;
}
.candy-buy-modal .candy-buy-modal-thumbnail {
  width: 100% !important;
  height: auto !important;
}
.candy-buy-modal .candy-buy-modal-container .candy-buy-modal-control {
  flex-direction: column !important;
  text-align: center !important;
  margin-bottom: 1rem !important;
}
.candy-title,
.candy-label,
.candy-value {
  text-align: center !important;
}
.candy-buy-modal .candy-buy-modal-container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.candy-order-price-container {}

@media screen and (min-width: 800px) {
  .candy-buy-modal {
    flex-direction: row !important;
    
  }
  .candy-buy-modal .candy-buy-modal-thumbnail {
    width: 350px !important;
    height: 340px !important;
  }
  .candy-buy-modal .candy-buy-modal-container .candy-buy-modal-control {
    flex-direction: row !important;
    text-align: left !important;
    margin-bottom: 0 !important;
  }
  .candy-title,
  .candy-label,
  .candy-value {
    text-align: center !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .candy-value {
    margin-top: 20px !important;
  }
  .candy-buy-modal .candy-buy-modal-container {
    margin-top: -20px;
    margin-bottom: 20px !important;
  }
   ul {
    margin-left: 7rem;
  } 
}

@media screen and (min-width: 1100px) {

}